<template>
    <div class="container">
        <b-form @submit="onSubmit" >
            <b-form-group
                    id="name"
                    label="Product name:"
                    label-for="product-name"
            >
                <b-form-input
                        id="product-name"
                        v-model="product.name"
                        type="text"
                        required
                        placeholder="Enter product name"
                        :state="nameState"
                        trim
                        aria-describedby="input-name-feedback"
                ></b-form-input>
                <b-form-invalid-feedback id="input-name-feedback">
                    Enter at least 3 letters
                </b-form-invalid-feedback>
            </b-form-group>
            <b-table
                    striped
                    hover
                    :items="product.variants"
                    :fields="fieldsVariants"
            >
                <template slot="price" slot-scope="data">
                    <b-form-group>
                        <b-form-input
                                v-model="data.item.price"
                                type="text"
                                :state="priceState"
                                trim
                                required
                                placeholder="Enter product price"
                                aria-describedby="input-price-feedback"
                        ></b-form-input>
                        <b-form-invalid-feedback id="input-price-feedback">
                            Enter the correct price. For example: 523.36 or 52
                        </b-form-invalid-feedback>
                    </b-form-group>
                </template>
            </b-table>

            <b-table
                    striped
                    hover
                    :items="product.product_features"
                    :fields="fieldsFeatures"
            >
                <template slot="name" slot-scope="data">
                    {{data.item.name}}
                </template>
                <template slot="value" slot-scope="data">
                    <b-input
                            type="text"
                            v-model="data.item.value"
                    />
                </template>
            </b-table>

            <b-button type="submit" variant="primary">Save</b-button>
        </b-form>
    </div>
</template>
<script>
    export default {
        name: "Product",
        data() {
            return {
                features: [],
                product:
                {
                    name: '',
                    variants: [
                        {
                            price: '',
                            currency: 'USD'
                        }
                    ],
                    product_features: [
                        {
                            feature_id: '',
                            value: '',
                            name: ''
                        }
                    ]
                },
                productId: 0,
                fieldsFeatures: [
                    {
                        key: 'name',
                        label: 'Feature Name',
                        sortable: true
                    },
                    {
                        key: 'value',
                        label: 'Feature value',
                        sortable: false
                    }
                ],
                fieldsVariants: [
                    {
                        key: 'price',
                        label: 'Product price',
                        sortable: true
                    },
                    {
                        key: 'currency',
                        label: 'Currency',
                        sortable: false
                    }
                ],

            }
        },
        methods: {
            async fetchProduct() {
                this.product =  await axios({
                    method: 'get',
                    url: `/api/admin/products/show/${this.productId}`,
                }).then(response => {
                    return response.data;
                }).catch(err => {
                    console.log(err);
                });
            },
            getFeatures() {
                 axios({
                    method: 'get',
                    url: `/api/admin/features/index`,
                 }).then(response => {
                     this.features = response.data;
                 }).catch(err => {
                    console.log(err);
                 });
            },
            onSubmit(evt) {
                evt.preventDefault();
                if (this.productId !== undefined) {
                    this.axios.put(
                        `/api/admin/products/update/${this.productId}`,
                        this.product,
                        {}
                    ).then(response => {
                        this.product = response.data;
                        this.$bvToast.toast('Product successfully changed', {
                            title: 'Product change',
                            toaster: 'b-toaster-top-right',
                            solid: true,
                            variant: 'success',
                            appendToast: false
                        });
                    }).catch(err => {
                        var errors = Object.values(err.response.data.errors);
                        for(var i=0; i<errors.length; i++ ) {
                            this.$bvToast.toast(errors[i][0], {
                                title: 'Product not changed',
                                toaster: 'b-toaster-top-right',
                                solid: true,
                                variant: 'danger',
                                appendToast: false
                            });
                        }
                    });
                } else {
                    this.axios.post(
                        `/api/admin/products/store`,
                        this.product,
                        {}
                    ).then(response => {
                        this.$bvToast.toast('Product successfully added', {
                            title: 'Creating product',
                            toaster: 'b-toaster-top-right',
                            solid: true,
                            variant: 'success',
                            appendToast: false
                        });
                    }).catch(err => {
                        var errors = Object.values(err.response.data.errors);
                        for(var i=0; i<errors.length; i++ ) {
                            this.$bvToast.toast(errors[i][0], {
                                title: 'Product not added',
                                toaster: 'b-toaster-top-right',
                                solid: true,
                                variant: 'danger',
                                appendToast: false
                            });
                        }
                    });
                }

            },
        },
        watch: {
            features: {
                handler: function (value) {
                    let product_features = [];
                    for (let i = 0; i < this.features.length; i++) {
                        let product_feature = {};
                        product_feature.feature_id = this.features[i].id;
                        product_feature.name = this.features[i].name;
                        product_feature.value = '';
                        product_features.push(product_feature);
                    }
                    this.product.product_features = product_features;
                }
            },
        },
        created() {

        },
        updated() {

        },
        mounted() {
            this.productId = this.$route.params.id;
            if (this.productId !== undefined) {
                this.fetchProduct();
            } else {
                this.getFeatures();
            }

        },
        computed: {
            priceState() {
                if (this.product.variants !== undefined) {
                    let regex = /^(\$|)([1-9]\d{0,2}(\,\d{3})*|([1-9]\d*))(\.\d{1,2})?$/gm;
                    return (String(this.product.variants[0].price).match(regex) === null) ? false : true;
                }
            },
            nameState() {
                if (this.product.name !== undefined) {
                    return this.product.name.length > 2 ? true : false;
                }
            },
        },
    }
</script>
<style scoped>

</style>
