<template>
    <div class="container-fluid">
        <b-pagination
                v-model="currentPage"
                :total-rows="totalItems"
                :per-page="perPage"
                aria-controls="products-table"
                align="center"
                class="mt-3"
        ></b-pagination>
        <div class="row">
            <div class="col-6">
                <router-link :to="{name: 'product'}"><b-button variant="success">Add New Product</b-button></router-link>
            </div>
            <div class="col-6">
                <b-form-input v-model="search" placeholder="Enter your product name"></b-form-input>
                <div class="mt-2">Search: {{ search }}</div>
            </div>
        </div>

        <b-table
                id="products-table"
                responsive="sm"
                striped
                hover
                small
                :items="products"
                :fields="fields"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :per-page="0"
                :current-page="currentPage"
        >
            <template slot="Edit / Delete" slot-scope="data">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-warning">
                        <router-link :to="{name: 'product', params: {id: data.item.id}}">Edit</router-link>
                    </button>


                    <button type="button" class="btn btn-secondary" data-toggle="modal" :data-target="`#modal-${data.item.id}`">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div ref="my-modal" class="modal fade" :id="`modal-${data.item.id}`" tabindex="-1" role="dialog" aria-labelledby="destroyModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="destroyModalLabel">Confirm deletion</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Remove item?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                    <button type="button" class="btn btn-primary" @click="destroy($event, data.item.id)" data-dismiss="modal">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </b-table>
    </div>
</template>
<script>
    export default {
        name: "Products",
        data() {
            return {
                idDeleteProduct: 0,
                search: '',
                sortBy: 'created_at',
                sortDesc: false,
                perPage: 5,
                currentPage: 1,
                totalItems: 0,
                fields: [
                    {
                        key: 'name',
                        label: 'Product Name',
                        sortable: true
                    },
                    {
                        key: 'price',
                        label: 'Price',
                        sortable: true
                    },
                    {
                        key: 'date',
                        label: 'Date',
                        sortable: true
                    },
                    {
                        label: 'Edit / Delete',
                        key: 'Edit / Delete',
                    }
                ],
                products: []
            }
        },
        methods: {
            async fetchData() {
                var dateFormat = require('dateformat');
                this.products = await this.axios.get(`/api/admin/products/index?text=${this.search}&page=${this.currentPage}`)
                    .then(response => {
                        this.perPage = response.data.per_page;
                        this.currentPage = response.data.current_page;
                        this.totalItems = response.data.last_page * this.perPage;
                        let productList = [];

                        response.data.data.filter(function (value, key) {
                            let product = value;
                            product.price = value.variants[0].price;
                            product.date = dateFormat(product.created_at, "dd-mm-yyyy");
                            productList.push(product);
                        });
                        return productList;
                    }).catch(error => {
                        console.error(error)
                    });
            },

            async destroy(evt, idProduct) {
                evt.preventDefault();
                await this.axios.delete(`/api/admin/products/destroy/${idProduct}`)
                    .then(response => {
                        this.fetchData();
                        this.$bvToast.toast('Product successfully removed', {
                            title: 'Removal product',
                            toaster: 'b-toaster-top-right',
                            solid: true,
                            variant: 'success',
                            appendToast: false
                        });
                    }).catch(err => {
                        this.$bvToast.toast('Product not removed', {
                            title: 'Removal product',
                            toaster: 'b-toaster-top-right',
                            solid: true,
                            variant: 'danger',
                            appendToast: false
                        });
                    });
            },
        },
        watch: {
            currentPage: {
                handler: function (value) {
                    this.fetchData();
                }
            },
            search: {
                handler: function (value) {
                    this.fetchData();
                }
            }
        },
        created() {

        },
        updated() {

        },
        mounted() {
            this.fetchData();
        }
    }
</script>
<style scoped>
    a, a:hover {
        color: #fff;
    }
</style>
