<template>
    <div>
        <b-nav tabs align="center">
            <b-nav-item active>
                <router-link :to="{name: 'admin-products'}">Admin Panel</router-link>
            </b-nav-item>
        </b-nav>
        <router-view>
        </router-view>
    </div>
</template>
<script>
    export default {
        name: "app",
        data() {
            return {

            }
        },
        methods: {

        },
        created() {

        },
        updated(){

        }
    }
</script>
<style scoped>

</style>
